body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bgedit{
    background-color: #070346;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    background-color: #4321be;
    width: auto;
    height: 355px;
    border-radius: 12px;
    padding: 19px 14px;
    text-align: center;
    color: white;
}  
.input_edit{
    margin: 13px 25px;
    height: 20px;
    font-size: 16px;
    border-radius: 25px;
    color: black;
    background-color: white;
    border: unset;
    padding: 22px 33px;
    text-align: center;
}